@import "../../variables.scss";
.why_we_header {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
  0% {
    color: #27404e;
  }
  30% {
    color: #405763;
  }
  70% {
    color: #586c77;
  }
  100% {
    color: #405763;
  }
}
@-moz-keyframes color-change {
  0% {
    color: #27404e;
  }
  30% {
    color: #405763;
  }
  70% {
    color: #586c77;
  }
  100% {
    color: #405763;
  }
}
@-ms-keyframes color-change {
  0% {
    color: #27404e;
  }
  30% {
    color: #405763;
  }
  70% {
    color: #586c77;
  }
  100% {
    color: #405763;
  }
}
@-o-keyframes color-change {
  0% {
    color: #27404e;
  }
  30% {
    color: #405763;
  }
  70% {
    color: #586c77;
  }
  100% {
    color: #405763;
  }
}
@keyframes color-change {
  0% {
    color: #27404e;
  }
  30% {
    color: #405763;
  }
  70% {
    color: #586c77;
  }
  100% {
    color: #405763;
  }
}
.WhyWe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .why_we_header {
    animation: color-change 1s infinite;
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .card-item {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      flex: 3;
      flex-basis: 25%;
      margin: 25px;
      min-width: 250px;
      height: 300px;
      border-left: 2px solid black;
      padding-left: 10px;
      @media (max-width: 768px) {
        margin: 10px 25px;
        font-size: 2.5rem;
        height: 255px;
      }
      .head {
        margin: 15px;
        .icon {
          margin-right: 10px;
        }
      }
      .text {
        font-size: 1rem;
      }
      .icon {
        font-size: 4rem;
        // color: $appColor;
        // opacity: 55%;
        // width: 80%;
        // display: flex;
        // justify-content: center;
        align-self: flex-start;
      }
    }
    p {
      text-align: center;
    }
  }
}
