@import "../../variables.scss";
.CONTENT {
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

  .image-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    transform-style: preserve-3d;
    z-index: -1;
    @media (max-width: 756px) {
      height: calc(100vh - 64px);
    }
    .background {
      height: 100vh;
    }
  }

  .background {
    transform: translateZ(-10px) scale(2);
  }

  .background {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .title {
    width: 50%;
    font-size: 2.5rem;
    color: $appColor;
    text-shadow: 0 0 5px black;

    p {
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      @media (max-width: 756px) {
        font-size: 8vw;
      }
      .soft {
        color: white;
      }
    }
    h4 {
      text-align: center;
      color: white;
      font-family: "Proxima-bold";
      font-weight: 800;
    }
  }

  section {
    font-size: 2rem;
    padding: 2rem 0 0 0;
    background: white;
  }
}
