@import "../../variables.scss";
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
  }
  img {
    height: 37px;
    width: auto;
  }
  .Menu .ant-menu-item-selected,
  .ant-menu-item-active {
    background-color: $appColor;
  }
  .Menu .ant-menu-item:hover {
    background-color: $appColor;
  }
}
