.Layout {
  overflow: hidden;
  width: 100%;

  .Header {
    display: flex;
    text-align: center;
    color: #fff;
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
    background-color: transparent;
  }
}

body {
  background: rgb(36, 62, 76);
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.SectionHeader {
  animation: color-change 1s infinite;
  text-align: center;
}
