@import "./variables.scss";

.Layout {
  overflow: hidden;
  width: 100%;

  .Header {
    display: flex;
    text-align: center;
    color: #fff;
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
    background-color: transparent;
  }
}

body {
  background: $backgroundColor;
  font-family: "Proxima-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.SectionHeader {
  animation: color-change 1s infinite;
  text-align: center;
}

.common-header {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Proxima-bold", sans-serif;
  font-weight: 400;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.section-header {
  font-size: 3rem;
  font-family: "Proxima-bold", sans-serif;
  animation: color-change 1s infinite;
  text-align: center;
  @media (max-width: 768px) {
    margin: 10px 0;
    font-size: 2rem;
  }
}
.common-text {
  width: 100%;
  font-size: 1.2rem;
  font-family: $latoFont;
  font-weight: 400;
  font-family: "Proxima-regular", sans-serif;
}

.proxima-r {
  font-family: "Proxima-regular";
  font-weight: 400;
}
.proxima-h {
  font-family: "Proxima-bold";
  font-weight: 800;
}

section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.central-container {
  width: 70%;
  max-width: 1280px;
  align-self: center;
  @media (max-width: 768px) {
    width: 100%;
  }
}
