$appColor: #72e992;
$font: "Bakbak One", sans-serif;
$latoFont: "Lato", sans-serif;
$backgroundColor: rgb(36, 62, 76);

@font-face {
  font-family: "Proxima-regular";
  src: url("$fonts/ProximaNovaRegular/ProximaNovaRegular.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-bold";
  src: url("$fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:export {
  appColor: $appColor;
  font: $font;
  latoFont: $latoFont;
  backgroundColor: $backgroundColor;
}
